
.icon-add:before { content: '\e800'; } /* '' */
.icon-more:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\f2c0'; } /* '' */