body {
  color: rgba(0,0,0,.9);
}

label {
  font-weight: 600;
}

#headerImg {
  margin: 2rem 0;
  width: 300px;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.vue-slider {
  margin: 1.2rem 1rem 0px 1rem;
}

.vue-slider-wrap {
  margin-top: 1.2rem;
}

.overflow-over-navbar {
  margin-top: -4rem;
}
